#map {
    height: 100%;
    width: 100%;
    position: absolute;;
    top: 0px;
    z-index: -1;
}

.form-color {
    background-color: rgba(128, 204, 179, 0.9);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 7px 29px 0px;
    padding: 1rem;
    border-radius: 1.5rem;
}



