<div class="p-0 d-flex flex-column container main bg-light">
    <div class="div-form-container d-flex justify-content-center mt-3">
        <div class="form-div form-color">
            <h1>Dove vuoi ricevere il cibo?</h1>
            <form id="form-location">
                <div class="form-group">
                    <label for="exampleInputEmail1">Indirizzo:</label>
                    <input class="form-control" ngx-google-places-autocomplete [options]='options'
                        #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)"/>
                </div>
            </form>
            <div id="infowindow-content">
                <button class="btn btn-dark mt-3 fs-5" (click)="distanceMatrix()">Trova ristoranti</button>
            </div>
        </div>
    </div>
</div>







<!--
    <button (click)="showDiv()" class="btn btn-dark">btn</button>
<div class="divP">

    <app-payment-components *ngIf="this.b"></app-payment-components>

</div>
-->
<!--  cambiare ngfor da restaurants a restaurants2  -->
<div class="restaurant-list">
    <app-restaurant-card *ngFor="let restaurant of restaurants2" [restaurant]="restaurant" class="r-card d-flex justify-content-center">
    </app-restaurant-card>
</div>